*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
.rect{
    top: 50%;
    left: 50%;
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: cyan;
}
